// Colors
$color-white: #FBFBFB;
$color-light-grey: #9B9A9A;
$color-dark-grey: #595959;
$color-black: #141414;
$color-red: #F43B3A;

// Font size
$font-size-h1: 96px;
$font-size-h2: 80px;
$font-size-h3: 64px;
$font-size-h4: 40px;
$font-size-h5: 32px;
$font-size-h6: 24px;
$font-size-text: 16px;
$font-size-button: 16px;
$font-size-mobile-text: 14px;
$font-size-mobile-button: 14px;
$font-size-mini-text: 12px;