.header__content {
	display: flex;
	flex-direction: column;
	gap: 37px;
}

.header__title {
	display: flex;
	flex-direction: column;
	gap: 44px;
}

.header__logo {
	align-self: flex-end;
}

.header__body {
	display: flex;
	gap: 156px;
}

.header__info {
	display: flex;
	flex-direction: column;
	gap: 69px;
}

.header__text {
	padding-top: 77px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	color: $color-black;
}

.header__statistic {
	display: flex;
	gap: 279px;
}

.header__statistic-item {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 4px;
	padding-left: 8px;
}

.header__statistic-item::before {
	content: '';
	position: absolute;
	left: 0;
	top: 20px;
	width: 1px;
	background-color: $color-black;
}

.header__statistic-item:nth-child(1) {
	padding-top: 44px;
}

.header__statistic-item:nth-child(1)::before {
	height: 169px;
}

.header__statistic-item:nth-child(2) {
	padding-top: 318px;
}

.header__statistic-item:nth-child(2)::before {
	height: 446px;
}

.header__statistic-item:nth-child(3) {
	padding-top: 222px;
}

.header__statistic-item:nth-child(3)::before {
	height: 350px;
}

.header__statistic-item:nth-child(4) {
	padding-top: 419px;
}

.header__statistic-item:nth-child(4)::before {
	height: 547px;
}

.header__statistic-number {
	color: $color-red;
}

.header__statistic-name {
	text-transform: uppercase;
	color: $color-black;
}